// ==========================================================================
// Shared breakpoint variables. Desktop-first: use max-width queries.
// ==========================================================================
$breakpoint-large: 960px;
$breakpoint-medium: 640px;
$breakpoint-small: 480px;
$breakpoint-xsmall: 420px;
